#faq{

    margin:10% 0 0 0;

}


.panel-default > .panel-heading {
    background-color: #FDC501;

}

.panel.panel-default{

    background-color: #222222;
    border-color: #474747;
    color: #A8A7A7;
}
.panel.panel-default a{

    text-decoration: none;
}



#faq .row{
    margin-top:0.5%;
}
.caret{

    float: right;
}

.initiallyHidden { display: none; }