body{
    background-color: #1B1C1D;
    color: #FDC501;
}


.form-control::-webkit-input-placeholder { color: #222222; font-size: 15px}
.form-control:-moz-placeholder { color: #222222; }
.form-control::-moz-placeholder { color: #222222; }
.form-control:-ms-input-placeholder { color: #222222; }

.form-control{
    border-radius:0 ;
}

#table{
    background-color: whitesmoke;
    color: #222222;
}

#tableProduct{
    background-color:whitesmoke;
    color: #222222;
}