#HelpCenterModal .modal-dialog{

    background-color: #14181C;

}



#headclose{

    float: right;
    background-color: transparent;
    border: none;

}

#headclose:hover{

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

#HelpCenterModal .modal-footer button{
    background-color: #E60000;
    border: none;
}
#HelpCenterModal .modal-footer button:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #E60000;
}